body, html {
    height: 100%;
    margin: 0;
}


/*links and headers*/
li a.current {
  border: 1px solid #41b3a3;
  color: #41b3a3;
}

a {
  color: #41b3a3;
}

a:hover {
  text-decoration: none;
  color: #41b3a3; !important
}

a:active {
  border: 1px solid #41b3a3;
  color: #41b3a3;
}

.nav-link {font-size: 0.9rem;}


.nav-link {font-size: 0.9rem;}

/*colors*/
.js-yellow{color: #f7df1e;}
.react-blue {color: #00d8ff;}
.html5-red {color: #e34f26;}
.css-blue {color: #3B5998;}
.php-blue {color: #4f5b93}

/*background colors*/
.bg-green {
  background-color: #41b3a3;
}

.bg-red {
  background-color: #ec7373;
}

/*border colors*/
.border-green {
   border: 1px solid #41b3a3;
}

.border-red {
  border: 1px solid #ec7373   
}

.border-bottom-red {
  border-bottom: 1px solid #ec7373   
}

/*heights*/
.h-auto {
  height: auto;
}

.h-110px {
  height: 110px;
}

.h-200px {
  height: 200px;
}

.w-100px {
  width:100px;
}

.mh-95 {
  max-height:95%;
}

.mh-100 {
  max-height:100%;
}

/*widths*/
.mw-95 {
  max-width:95%;
}

/*widths*/
.mw-100 {
  max-width:100%;
}

/*margins*/
.m-neg-150 {
  margin-top: -150px;
}

/*Opacity*/
.opacity {
  opacity: 0.8;
}


/*hero content*/
.hero-image {
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroBackCode.png");*/
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


.cv-card {min-height: 180px;}

.footer {min-height: 250px;}


/*divice*/
/*xs*/
@media all and (max-width: 575px) {
}

/*sm*/
@media all and (max-width: 768px) and (min-width: 576px)  {

}

/*md*/
@media all and (max-width: 992px) and (min-width: 769px){
  .hero-image {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroBackCode.png");}
}

/*lg*/
@media all and (min-width: 993px) and (max-width: 1199px) {
  .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroBackCode.png");}
}

/*xlg*/
@media all and (min-width: 1200px) {
  .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroBackCode.png");} 
}



