body, html {
    height: 100%;
    margin: 0;
}


/*links and headers*/
li a.current {
  border: 1px solid #41b3a3;
  color: #41b3a3;
}

a {
  color: #41b3a3;
}

a:hover {
  text-decoration: none;
  color: #85dcbf;
}

a:active {
  text-decoration: none;
  color: #41b3a3;
}

.nav-link {font-size: 0.8rem;}


/*background colors*/
.bg-green {
  background-color: #41b3a3;
}

/*borders*/
.border-orange {
  border: 2px solid #e27d60;
}

.border-lightorange {
    border: 2px solid #e8a87c;
}

.border-lightred {
    border: 4px solid #c38d9e;
}

/*hero content*/
.hero-image {
	background-color: #41b3a3;
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");*/
	height: 350px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.space {height: 100px;}

.cv-card {min-height: 200px;}

.footer {min-height: 300px;}

/*xs*/
@media all and (max-width: 575px) {

}

/*sm*/
@media all and (max-width: 768px) and (min-width: 576px)  {

}

/*md*/
@media all and (max-width: 992px) and (min-width: 769px){
}

/*lg*/
@media all and (min-width: 993px) and (max-width: 1199px) {
}

/*xlg*/
@media all and (min-width: 1200px) {
}



