body, html {
    height: 100%;
    margin: 0;
}


/*links and headers*/
li a.current {
  border: 1px solid #41b3a3;
  color: #41b3a3;
}

a {
  color: #41b3a3;
}

a:hover {
  text-decoration: none;
  color: #85dcbf;
}

h2.category {
  color: #41b3a3;
}


/*background colors*/
.bg-green {
  background-color: #41b3a3;
}

/*borders*/
.border-orange {
  border: 2px solid #e27d60;
}

.border-lightorange {
    border: 2px solid #e8a87c;
}

.border-lightred {
    border: 4px solid #c38d9e;
}

/*hero content*/
.hero-image {
	background-color: #41b3a3;
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");*/
	height: 350px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.space {height: 100px;}

.cv-card {min-height: 200px;}

.footer {min-height: 300px;}

/*xs*/
@media all and (max-width: 575px) {
}

/*sm*/
@media all and (max-width: 768px) and (min-width: 576px)  {
}

/*md*/
@media all and (max-width: 992px) and (min-width: 769px){
}

/*lg*/
@media all and (min-width: 993px) and (max-width: 1199px) {
}

/*xlg*/
@media all and (min-width: 1200px) {
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
     html {font-size: 2rem; }
    .hero-image {height: 500px;}
    .cv-card {min-height: 500px;}  
    .footer {min-height: 500px;}
    .container {margin: 0px; max-width: 100%; padding: 30px;}
    .nav-link {font-size: 1.4rem;}
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    html {font-size: 2rem; }
    .hero-image {height: 500px;}
    .cv-card {min-height: 500px;}  
    .footer {min-height: 500px;}
    .container {margin: 0px; max-width: 100%; padding: 30px;}
    .nav-link {font-size: 1.4rem;}
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
    html {font-size: 2rem; }
    .hero-image {height: 500px;}
    .cv-card {min-height: 500px;} 
    .footer {min-height: 500px;}
    .container {margin: 0px; max-width: 100%; padding: 30px;}
    .nav-link {font-size: 1.4rem;}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}


